@import "tailwindcss";

@theme {
  --font-logo-spline: 'Spline Sans', sans-serif;
  --font-vietnam: 'Be Vietnam Pro', sans-serif;

  --color-logo-cyan: #00F4FE;
  --color-pink: #FFACE8;
  --color-bg-blue: #0D0B1F;
  --color-bg-blue-card: #141227;
  --color-gray: #7D92B1;
  --color-white: #E2E0FC;
  --color-fuchsia: #DF00C8;
  --color-soft-pink: #e9e6ff;
  --color-gray-contact: #1f1c30

}

body {
  background-color: var(--color-bg-blue);
}
main {
  background-color: var(--color-bg-blue);
}